{% extends 'backend/base.html' %}
{% block title %}Create Employee{% endblock title %}
{% block content %}
<div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN THEME PANEL -->
            <!-- END THEME PANEL -->
            <!-- BEGIN PAGE BAR -->
            <h3 class="page-title">
                Order View <small>view order details</small>
                </h3>
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{% url 'home' %}">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{% url 'employee' %}">Employee</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="{% url 'addemployee' %}">Create employee</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        
                    </ul>
                  
                </div>
<div class="row">

 
    



    <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="col-md-10" style="margin-top: 25px;">
              <!-- BEGIN ALERTS PORTLET-->
              <div class="portlet purple box">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-cogs"></i>Add New Employee
                  </div>
                  <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="reload" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="remove" data-original-title="" title="">
                    </a>
                  </div>
                </div>
                <div class="portlet-body form" style="display: block;">
                        <div class="row">
                                <div class="col-sm-8">col-sm-8</div>
                                <div class="col-sm-4">col-sm-4</div>
                         </div>
                
                
                </div>
              </div>
              <!-- END ALERTS PORTLET-->
            </div>

</div>

</div>
</div>
{% endblock %}